:root {
  --primary: #0075c1;
  --success: #70ad47;
  --warning: #ed7d31;
  --bgFieldTable: #eeeeee;
  --grey: #eeeeee;
}
.container-fluid,
.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 36px;
  padding-top: calc(80px + 15px);
}
select.form-select {
  background-image: url("../images/icon_select.svg") !important;
}
input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-calendar-picker-indicator {
  display: none;
  -webkit-appearance: none;
}
a {
  text-decoration: none;
  color: white;
}
td {
  cursor: pointer;
  color: black;
}
span {
  color: black;
}
.btn {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.btn__red {
  background-color: #ff9999;
}
.btn__red:hover {
  background-color: #f14d4d !important;
}
.btn__primary {
  background-color: #6dc4ff;
}
.btn__primary:hover {
  background-color: #0099ff !important;
}
.btn__grey {
  background-color: #cccccc;
}
.btn__grey:hover {
  background-color: #868686 !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
ol {
  list-style-type: none;
}

img.iconInput {
  position: absolute;
  right: 0;
  top: 0;
  transform: translate(-50%, 50%);
}
.wrapInputHasIcon {
  position: relative;
  height: 100%;
}

.bar__page {
  display: flex;
  justify-content: center;
  align-items: center;
}
.pagination .page-item {
  margin-left: 29px;
  width: 50px;

  height: 50px;
  vertical-align: middle;
  background-color: #eeeeee;
}
.page-link:hover {
  background-color: rgb(161, 161, 161) !important;
}
.page-item .page-link {
  font-size: 24px;
  line-height: 37.5px;
  height: 50px;
  width: 50px;
  border: none;
  overflow: hidden;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  border: 1px solid;
  border-radius: 6px;
  background-color: #eeeeee;
}
.pagination .page-item:first-child {
  margin-left: 0;
}
.pagination .page-item:first-child {
  margin: 0;
}

.table-information-vertical .col__table th {
  background-color: #eeeeee;
}
.inputWithIcon {
  position: relative;
  width: fit-content;
}
input {
  border: 1px solid black;
  border-radius: 6px;
  padding-left: 10px;
  font-size: 22px;
}
.inputWithIcon .iconEndInput {
  position: absolute;
  top: 50%;
  right: 0px;
  transform: translate(-50%, -50%);
}
.group-select select {
  border: 1px solid black;
  display: flex;
  align-items: center;
}
.separatorChar {
  padding: 0px 15px;
  width: 45px;
  text-align: center;
}
input[type="number"] {
  text-align: center;
  padding: 0;
}
input.disabled[type="number"] {
  text-align: right;
  padding-right: 10px;
}

.input__information {
  height: 100%;
  padding: 12px !important;
  border: 1px solid;
  border-radius: 6px;
  text-align: right !important;
  font-size: 20px;
}
.input__information.disable {
  border: none;
}
.input__information.disable:focus {
  border: none;
  outline: none;
}
.input__information[disabled] {
  color: black;
  background-color: white;
}
.wrapRadio label.form-check-label {
  min-width: 130px;
}
/* .

.inputSelect {
  border: 1px solid black;
  display: flex;
  align-items: center;
  padding: 0px 70px;
  height: 50px;
}
.group-input-range input {
  width: 200px;
  height: 50px;
  text-align: center;
}

 */
