.table-bordered {
  box-shadow: 4px 4px 4px rgb(0 0 0 / 25%);
}
.table-field-horizontal.table.table-bordered {
  width: 95%;
  box-shadow: 4px 4px 4px rgb(0 0 0 / 25%);
}
.table-field-horizontal .table-row td {
  height: 80px;
  vertical-align: middle;
  border: 1px solid;
}
.table-field-horizontal .table-row td:nth-child(odd) {
  width: 515px;
  padding-left: 43px !important;
  font-size: 24px;
  background-color: #eeeeee;
}
.table-field-horizontal .row__field--data {
  width: 825px;
  padding-left: 17px !important;
  font-size: 20px;
}
.table-field-horizontal .row__field--data.hasInput {
  padding-left: 5px !important;
  padding: 5px !important;
}
.table-field-horizontal .row__field--data.txtArea {
  text-align: center;
  margin: 0 auto;
}
.table-field-horizontal .row__field--status {
  width: 587px;
  font-size: 20px;
  padding-left: 49px !important;
  background-color: #eeeeee !important;
}
.table-field-horizontal .wrap__field {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.table-field-horizontal .field__require {
  margin-right: 5px;
  font-size: 24px;
  background-color: #d23a65;
  color: white;
  width: 71px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
}
.table-field-horizontal .field__input {
  width: 100%;
  padding: 12px;
  height: 100%;
  border: 1px solid;
  border-radius: 6px;
  font-size: 20px;
  color: black;
  display: block;
}
.table-field-horizontal .field__input:focus {
  outline: none;
}
.table-field-horizontal .field__input:active {
  border: 1px solid;
}

.table-field-horizontal .wrap__field--data {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100%;
}
.table-field-horizontal .wrap__field--data .btn {
  margin-left: 18px;
  width: 150px;
  height: 56px;
  font-size: 24px;
  color: #444444;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.table-field-horizontal .wrapRadio {
  align-items: center;
  display: inline-flex;
  justify-content: center;
}
.table-field-horizontal .form-check-input {
  margin-top: 0;
}
.table-field-horizontal .wrapRadio:first-child {
  margin-right: 50px;
}
.table-field-horizontal .form-check-label {
  margin-left: 8px;
}
.table-field-horizontal .table-row .row__field:first-child {
  font-size: 20px;
}
.table-field-horizontal .row__field--status {
  font-size: 20px;
}
.container-fluid,
.container {
  padding-top: calc(80px + 70px);
  align-items: center;
}
.table-row td:last-child {
  font-size: 20px !important;
}

@media screen and (max-width: 1080px) {
  .container-fluid {
    padding-top: 120px;
    height: 100%;
  }
  .table {
    margin-bottom: 0px;
    padding-bottom: 0;
  }
  .table-row td:last-child {
    font-size: medium !important;
  }
  .wrapInputHasIcon {
    width: 100%;
  }
  .wrapInputHasIcon input {
    width: 600px !important;
    font-size: medium !important;
    background-color: white;
  }
  .table-field-horizontal .row__field--data {
    width: 600px;
    padding-left: 17px !important;
    font-size: 20px;
  }
  .table-field-horizontal .table-row td {
    height: 60px;
  }
}
