.form-select {
  height: 49px;
  width: 185px;
  border: 1px solid;
  border-radius: 6px;
  font-size: 20px;
  text-align: center;
  color: black;
}

.form__select {
  display: flex;
  flex-direction: row;
  align-self: flex-end;
}
.form__select div:first-child {
  margin-right: 30px;
}

.label__select {
  margin-bottom: 15px;
  margin-left: 15px;
  font-size: 20px;
  line-height: 23px;
  font-weight: 400;
}
.bar__page {
  display: flex;
  justify-content: center;
  align-items: center;
}
.pagination .page-item {
  margin-left: 39px;
  width: 70px;

  height: 70px;
  vertical-align: middle;
  background-color: #eeeeee;
}
.page-link:hover {
  background-color: rgb(161, 161, 161) !important;
}
.page-item .page-link {
  font-size: 24px;
  line-height: 37.5px;
  height: 70px;
  width: 70px;
  border: none;
  overflow: hidden;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  border: 1px solid;
  border-radius: 6px;
  background-color: #eeeeee;
}
.pagination .page-item:first-child {
  margin-left: 0;
}
.pagination .page-item:first-child {
  margin: 0;
}
