body {
  height: 100vw;
  position: relative;
}
.background__image {
  position: relative;
}
.background__image .bg__image {
  position: absolute;
}
#logoLogin {
  width: 200px;
  height: 200px;
}
.wrap {
  position: absolute;
  left: 154px;
  top: 434px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#wrapTextLogo {
  display: flex;
  flex-direction: column;
  color: #0075c1;
  margin-left: 21px;
}
#nameBrand {
  font-size: 76px;
}
#nameSystem {
  font-size: 35px;
}
#formLogin {
  position: absolute;
  left: 1184px;
  top: 341px;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

#wrapForm {
  background-color: white;
  box-shadow: 6px 6px 4px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 100%;
  width: 642px;
  height: 470px;
  padding: 45px 0;
  margin-bottom: 55px;
}
#footerForm img {
  margin-right: 12px;
}
#footerForm span {
  color: black;
  font-size: 32px;
  line-height: 38px;
}
#formLogin input {
  width: 360px;
  height: 74px;
  background: #ffffff;
  border: 1px solid #000000;
  border-radius: 6px;
  font-size: 32px;
  line-height: 38px;
  padding: 20px;
}
#formLogin label {
  font-size: 24px;
  margin-right: 30px;
}
#formLogin .form-group {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
button.btn.btn-login.btn__primary {
  font-size: 40px;
  width: 375px;
  height: 74px;
  color: white;
  border-radius: 6px;
  background-color: #0075c1;
}
footer {
  width: 100%;
  height: 410px;
  background-color: #0075c1;
  z-index: 999999;
  position: absolute;
  bottom: 0;
  color: white;
  font-size: 32px;
}
footer span {
  margin-left: 35px;
  margin-top: 20px;
  position: absolute;
}
