.container-fluid,
.container {
  padding-top: calc(80px + 70px);
  align-items: center;
}

.btn-edit {
  background-color: #6dc4ff !important;
}

.input__onLeave {
  height: 100%;
  padding: 12px;
  border: 1px solid;
  border-radius: 6px;
  text-align: right;
}
.input__onLeave.disable {
  border: none;
}
.input__onLeave.disable:focus {
  border: none;
  outline: none;
}
.input__onLeave[disabled] {
  color: black;
  background-color: white;
}
