.table-field-horizontal .row__field {
  width: 350px;
}

.table-field-horizontal .row__field--status {
  width: 400px;
  padding-left: 20px !important;
}
.table-field-horizontal .row__field--data {
  word-wrap: break-word;
}
.table-field-horizontal
  .row__field--data.field-multiline
  div:not(:first-child) {
  margin-left: 25px !important;
}
.table-field-horizontal .hasDateTimePicker .field__input {
  width: 100%;
}
.table-field-horizontal .hasDateTimePicker .wrapInputHasIcon {
  width: 40%;
}
.table-field-horizontal .hasTimePicker .field__input {
  width: 40%;
}
.wrapRadio.radioHasImage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 20px;
}
.field-radioImage {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  border: 0px solid transparent !important;
}
.wrapRadio .imageRadio {
  width: 170px;
  height: 170px;
  margin-left: 40px;
}
.table-field-horizontal .row__field--data {
  width: 600px;
}
.table-field-horizontal .wrapRadio:first-child {
  margin-right: 0px;
}
.table-field-horizontal .wrapRadio:nth-child(odd) {
  margin-right: 110px;
  margin-left: 20px;
}
.wrapImageRadio {
  min-width: 170px;
  min-height: 170px;
  width: 170px;
  height: 170px;
  margin-top: 20px;
}
.table-field-horizontal .table-row.hasImage td {
  height: 100%;
}
input.numInput.flatpickr-hour {
  font-size: 24px;
}
input.numInput.flatpickr-minute {
  font-size: 24px;
}
.flatpickr-time-separator {
  font-size: 32px;
}
.nameTable {
  font-size: medium;
}
.container-fluid,
.container {
  padding-top: calc(80px + 30px);
  align-items: flex-start;
  justify-content: center;
  padding-right: 200px;
  padding-left: 200px;
}
.table-field-horizontal.table.table-bordered {
  width: 100%;
}

@media screen and (max-width: 1080px) {
  .table-field-horizontal .table-row td:nth-child(odd) {
    width: 350px !important;
  }
  .table-field-horizontal .row__field--data {
    width: 650px !important;
  }
  .field-radioImage {
    /* background-color: black !important; */
    width: 100% !important;
  }
  .field-radioImage img {
    zoom: 0.55;
  }
  .wrapInputHasIcon {
    width: 350px !important;
  }
  .wrapInputHasIcon input {
    width: 350px !important;
  }

  .table-field-horizontal .hasTimePicker .field__input {
    width: 350px;
    font-size: medium !important;
    background-color: white;
  }
  .table-field-horizontal .hasTimePicker {
    width: 5;
  }
  .wrapRadio.radioHasImage {
    margin: 0;
  }
  .wrapImageRadio {
    height: 100px !important;
    min-height: 100px !important;
  }
  /* .table-field-horizontal .table-row td {
    height: fit-content !important;
  } */
}
