.container-fluid {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  padding: 36px;
  padding-top: calc(110px + 15px);
}

input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-calendar-picker-indicator {
  display: none;
  -webkit-appearance: none;
}

td {
  cursor: pointer;
}
td {
  color: black;
}
span {
  color: black;
}
.btn__red {
  background-color: #ff9999;
}
.btn__red:hover {
  background-color: #f14d4d !important;
}
.btn__primary {
  background-color: #6dc4ff;
}
.btn__primary:hover {
  background-color: #0099ff !important;
}
.btn__grey {
  background-color: #cccccc;
}
.btn__grey:hover {
  background-color: #868686 !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
